{% extends "JaztecFiddleBundle::layout.html.twig" %}

{% block title 'Fiddlen met Symfony2' %}

{% block content %}
    <h1>De ontvangen parameter via de query was {{ var }}. Geen enkele veiligheidscheck is gedaan</h1>
{% endblock %}